body{
    background-color: rgb(4, 2, 2);
    color: rgb(255, 255, 255);
    
}

.jaison{
    color: rgba(253, 255, 249, 0.934);
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    
    
    
}

.JaisonPradeep{
    color: antiquewhite;
}

.DJP{
    color: antiquewhite;
}

.Hello{
    color: antiquewhite;
}

.Hoi{
    color: antiquewhite;
}

.Tamil{
    color: antiquewhite;
}

.Jaiii{
    color: antiquewhite;
}

.rome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.Hola{
    color: antiquewhite;
}

.Joe{
    background-color: rgb(8, 7, 7);
}

.Tamilnadu{
    background-color: rgba(8, 7, 7, 0.605);
}

.Mano{
    
    padding-top: 05px;
    padding-bottom: 05px;
    padding-right: 05px;
    padding-left: 05px;
}

.mum{
    background-color: rgba(67, 57, 57, 0.011);
    padding-bottom: 10px;
    padding-top: 03px;
}